.detailPage {
    padding: 40px 70px;
}

.detailPage-title {
    margin-bottom: 40px;
    text-align: center;
    padding: 0 40px;
    font-size: 42px;
    font-weight: 700;
    text-transform: capitalize;
}