<div class="newspaper">
    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div *ngFor="let news of newspaperList">
            <div class="col">
                <div class="card h-100">
                    <div class="newspaper-img">
                        <img src="{{news.img}}" class="card-img-top" alt="...">
                    </div>
                    <div class="card-body">
                        <div class="newspaper-title">
                            <h5 class="card-title">Card title</h5>
                        </div>
                        <div class="newspaper-desc">
                            <p class="card-text">{{news.description}}</p>
                        </div>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">Last updated 3 mins ago</small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>